aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
*.lo
*.la
*.o
*.Po
.deps
